<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">You've Got Choices</h2>
    </div>
    <div class="col-lg-12">
        <p>Our core supported languages are colored in green. The rest of the languages, colored in blue, are supported as well but have not been as thoroughly tested against the challenges on our site. As such, we cannot guarantee that all necessary third-party
            libraries required to solve every challenge are installed. This is where we rely on you, the users, to provide us with feedback if you feel one was omitted and should be included.</p>
    </div>
    <div class="col-md-4">
        <div class="media">
            <div class="pull-left">
                <span class="fa-stack fa-2x">
                    <i style="color: blue" class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa icon-shell fa-stack-1x fa-inverse"></i>
                </span>
            </div>
            <div class="media-body">
                <h4 class="media-heading"><a href="https://www.gnu.org/software/bash/manual/bashref.html">BASH</a></h4>
                <p>The Bourne-Again Shell</p>
            </div>
        </div>
        <div class="media">
            <div class="pull-left">
                <span class="fa-stack fa-2x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                          <i class="fa icon-c fa-stack-1x fa-inverse"></i>
                    </span>
            </div>
            <div class="media-body">
                <h4 class="media-heading"><a href="http://www.cprogramming.com/">C</a></h4>
                <p>The C Programming Language</p>
            </div>
        </div>
        <div class="media">
            <div class="pull-left">
                <span class="fa-stack fa-2x">
                          <i class="fa fa-circle fa-stack-2x text-primary"></i>
                          <i class="fa icon-cplusplus fa-stack-1x fa-inverse"></i>
                    </span>
            </div>
            <div class="media-body">
                <h4 class="media-heading"><a href="http://www.cplusplus.com/doc/tutorial/">C++</a></h4>
                <p>The C++ Programming Language (originally C with Classes)</p>
            </div>
        </div>
        <div class="media">
            <div class="pull-left">
                <span class="fa-stack fa-2x">
                          <i class="fa fa-circle fa-stack-2x text-primary"></i>
                          <i class="fa icon-csharp fa-stack-1x fa-inverse"></i>
                    </span>
            </div>
            <div class="media-body">
                <h4 class="media-heading"><a href="https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx">C#</a></h4>
                <p><i class="fa fa-exclamation-triangle"></i>This is currently disabled.  We might enable support if there is enough player interest.</p>
                <p style="text-decoration: strikethrough">The C# Programming Language (we compile in Windows/.NET)</p>
            </div>
        </div>
        <div class="media">
            <div class="pull-left">
                <span class="fa-stack fa-2x">
                          <i style="color: blue" class="fa fa-circle fa-stack-2x text-primary"></i>
                          <i class="fa icon-google fa-stack-1x fa-inverse"></i>
                    </span>
            </div>
            <div class="media-body">
                <h4 class="media-heading"><a href="https://golang.org/">Go/Golang 1.9.2</a></h4>
                <p>compiled, conncurrent, imperative, structured</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="media">
            <div class="pull-left">
                <span class="fa-stack fa-2x">
                          <i class="fa fa-circle fa-stack-2x text-primary"></i>
                          <i class="fa icon-haskell fa-stack-1x fa-inverse"></i>
                    </span>
            </div>
            <div class="media-body">
                <h4 class="media-heading"><a href="https://www.haskell.org/">Haskell</a></h4>
                <p>Purely Functional, lazy/non-strict, modular</p>
            </div>
        </div>
        <div class="media">
            <div class="pull-left">
                <span class="fa-stack fa-2x">
                          <i style="color:blue" class="fa fa-circle fa-stack-2x text-primary"></i>
                          <i class="fa icon-script fa-stack-1x fa-inverse"></i>
                    </span>
            </div>
            <div class="media-body">
                <h4 class="media-heading"><a href="http://lisp-lang.org/">Lisp</a></h4>
                <p>Common Lisp; functional, procedural, reflective, meta; fully parenthesized prefix notation.</p>
            </div>
        </div>
        <div class="media">
            <div class="pull-left">
                <span class="fa-stack fa-2x">
                          <i style="color:blue" class="fa fa-circle fa-stack-2x text-primary"></i>
                          <i class="fa icon-nodejs fa-stack-1x fa-inverse"></i>
                    </span>
            </div>
            <div class="media-body">
                <h4 class="media-heading"><a href="https://nodejs.org/en/">nodejs 9.2.0</a></h4>
                <p>JavaScript runtime environment using Google's V8 engine</p>
            </div>
        </div>
        <div class="media">
            <div class="pull-left">
                <span class="fa-stack fa-2x">
                          <i class="fa fa-circle fa-stack-2x text-primary"></i>
                          <i class="fa icon-python fa-stack-1x fa-inverse"></i>
                    </span>
            </div>
            <div class="media-body">
                <h4 class="media-heading"><a href="https://www.python.org/">Python 2.7.12</a></h4>
                <p>General-Purpose Scripting Language</p>
            </div>
        </div>
        <div class="media">
            <div class="pull-left">
                <span class="fa-stack fa-2x">
                          <i class="fa fa-circle fa-stack-2x text-primary"></i>
                          <i class="fa icon-python fa-stack-1x fa-inverse"></i>
                    </span>
            </div>
            <div class="media-body">
                <h4 class="media-heading"><a href="https://www.python.org/">Python 3.6.3</a></h4>
                <p>General-Purpose Scripting Language</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="media">
            <div class="pull-left">
                <span class="fa-stack fa-2x">
                          <i class="fa fa-circle fa-stack-2x text-primary"></i>
                          <i class="fa icon-php-alt fa-stack-1x fa-inverse"></i>
                    </span>
            </div>
            <div class="media-body">
                <h4 class="media-heading"><a href="http://php.net/manual/en/">PHP 7.1.11</a></h4>
                <p>Server-Side Scripting Language (primarily used for the web but also for general-purpose)</p>
            </div>
        </div>
        <div class="media">
            <div class="pull-left">
                <span class="fa-stack fa-2x">
                          <i class="fa fa-circle fa-stack-2x text-primary"></i>
                          <i class="fa icon-perl fa-stack-1x fa-inverse"></i>
                    </span>
            </div>
            <div class="media-body">
                <h4 class="media-heading"><a href="https://www.perl.org/">Perl 5.22.1</a></h4>
                <p>A high-level, general-purpose, interpreted, dynamic programming language</p>
            </div>
        </div>
        <div class="media">
            <div class="pull-left">
                <span class="fa-stack fa-2x">
                          <i class="fa fa-circle fa-stack-2x text-primary"></i>
                          <i class="fa icon-ruby fa-stack-1x fa-inverse"></i>
                    </span>
            </div>
            <div class="media-body">
                <h4 class="media-heading"><a href="https://www.ruby-lang.org/en/">Ruby</a></h4>
                <p>A dynamic, reflective, object-oriented, general-purpose programming language</p>
            </div>
        </div>
        <div class="media">
            <div class="pull-left">
                <span class="fa-stack fa-2x">
                          <i style="color:blue" class="fa fa-circle fa-stack-2x text-primary"></i>
                          <i class="fa icon-scala fa-stack-1x fa-inverse"></i>
                    </span>
            </div>
            <div class="media-body">
                <h4 class="media-heading"><a href="https://www.scala-lang.org/">Scala</a></h4>
                <p>A general-purpose programming language providing support for functional programming and a strong static type system
                </p>
            </div>
        </div>
    </div>
</div>
